div(class='bg-dark text-light')
	.row
		div(class='two columns')
			<h6 class="h7 decorated-2 white mb3">Contact</h6>
		div(class='ten columns')
			.row
				div(class='three columns')
					p(class="grey lh2") Jordan Fuller <br> Regent<br> <a href="mailto:jlf323@cornell.edu">jlf@cornell.edu</a></p>
				div(class='three columns')
					<p class="grey lh2">Jordan Fuller<br>Regent<br><a href="mailto:jlf323@cornell.edu">jlf323@cornell.edu</a></p>
				div(class='three columns')
					<p class="grey lh2">Jordan Fuller<br>Regent<br><a href="mailto:jlf323@cornell.edu">jlf323@cornell.edu</a></p>
				div(class='three columns')
					<p class="grey lh2">Jordan Fuller<br>Regent<br><a href="mailto:jlf323@cornell.edu">jlf323@cornell.edu</a></p>