extends layout

block content
    div(class="parallax-container")
        div(class="container")
            h1(class="header center white-text ") <br> <br> Brothers of Theta Tau
            h5(class="header center col s12 light") <br> All Classes<br>
        div(class="parallax")
            img(alt="Unsplashed background img 1" src="/media/brothers/zetaepsilon.jpg" style="display: block; transform: translate3d(-50%, 357px, 0px);" id="homebg")

    <div id="main" class="container">
    </div>