extends layout

block content
	div(class="parallax-container" id="index-banner")
		div(class="section no-pad-bot")
			div(class="container")
				h1(class="header center white-text ") <br> <br> THETA TAU
				h5(class="header center col s12 light") <br> Engineering Leaders for Service, Profession, and Brotherhood<br>
		div(class="parallax")
			img(alt="Unsplashed background img 1" src="/media/home/IMG_6760.jpg" style="display: block; transform: translate3d(-50%, 357px, 0px);" id="homebg")
					
	div(class="bg-light text-dark" id='who-are-we')
		div(class='container')
			div(class='row mx-auto')
				div(class="nine columns  pt2 pb2")
					h6(class='category') Who are we?
					h1(id='pitch') We are the only coed professional engineering fraternity at Stony Brook University.
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			div(class="row mx-auto")
				h5(class="light") At over 35,000 members, Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. <br><br>
					div(class='row')
						p Our purpose is to develop and maintain a high standard of professional interest among our members, and to unite them in a strong bond of fraternal fellowship. Our members are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and Proud of our Community of Engineers. <br><br>
							As a professional engineering fraternity, we combine aspects found in that of social fraternities and technical-oriented societies to create a community where brothers can form life-long bonds, develop themselves professionally, and have meaningful social experiences.
						p For more information,   
						a(href="http://thetatau.org/" class="light") visit our national website



	div(class="parallax-container valign-wrapper")
		div(class="section no-pad-bot")
			div(class="container")
				div(class="row center")
					h5(class="header col s12 light") We develop and maintain professional interest and fraternal fellowship.
		div(class="parallax")
			img(alt="Unsplashed background img 2" src="/media/home/IMG_1713.jpg" style="display: block; transform: translate3d(-50%, 94px, 0px);")

	div(class="bg-dark text-light")
		div(class='container')
			div(class="row mx-auto")
				div(class="nine columns  pt2 pb2")
					h6.category Our pillars 
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			div(class="row mx-auto")
				h5.light Brotherhood.   Profession.   Service.
			div(class="nine columns  pt2 pb2")
				p(id='what-we-do-text') We focus on developing and maintaining a high standard of professional interest among our members, and to unite them in a strong bond of fraternal fellowship. Our members are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and Proud of our Community of Engineers. <br><br>As a professional engineering fraternity, we combine aspects found in that of social fraternities and technical-oriented societies to create a community where brothers can form life-long bonds, develop themselves professionally, and have meaningful social experiences.
								
	div.what-we-do
		div.row
			div.column
				img(alt="Unsplashed background img" src="/media/home/brotherhood.jpg" style="width:100%; height:100%;")
				div.button
					a(href="/events/brotherhood") 
					button(type="submit" id="btn-brotherhood" class="ghost-button-rounded-corners") Brotherhood 
			div.column
				img(alt="Unsplashed background img" src="/media/home/profession.jpg" style="width:100%; height:100%;")
				div.button
					a(href="/events/profession")
					button(type="submit" id="btn-profession" class="ghost-button-rounded-corners") Profession
			div.column
				img(alt="Unsplashed background img" src="/media/home/service.jpg" style="width:100%; height:100%;")
				div.button
					a(href="/events/profession") 
					button(type="submit" id="btn-service" class="ghost-button-rounded-corners") Service



	div(class="bg-white text-dark")
		div.container
			div(class="row mb4 mt4")
				div(class="nine columns  pt2 pb2")
					h6(class="category") Portfolio
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			div(class="row mx-auto")
				h5.dark Check out where we have been
			div(class="row" style="display: flex;justify-content: center;")
				button(onclick="showEmployer('true')" id="btn-employers" class="ghost-button-rounded-corners four columns") EMPLOYERS
				button(onclick="showEmployer('false')" id="btn-oncampus" class="ghost-button-rounded-corners four columns") ON CAMPUS
	 
		div(id='where-we-have-been' style='display: block;')
			#employers
				.row
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.ge.com')
						img.employer-logo(src='/media/home/portfolio/employers/generalelectric.png', title='General Electric', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.toyota.com')
						img.employer-logo(src='/media/home/portfolio/employers/toyota.png', title='Toyota', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.bbh.com/en-us')
						img.employer-logo(src='/media/home/portfolio/employers/brownbrothersharriman.png', title='Brown Brothers Harriman', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.zebra.com/us/en.html')
						img.employer-logo(src='/media/home/portfolio/employers/zebratechnologies.png', title='Zebra Technologies', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.mta.info')
						img.employer-logo(src='/media/home/portfolio/employers/mta.png', title='MTA', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://online.citi.com/US/login.do')
						img.employer-logo(src='/media/home/portfolio/employers/citi.png', title='Citi Bank', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.hexcel.com')
						img.employer-logo(src='/media/home/portfolio/employers/hexcel.png', title='Hexcel', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.google.com')
						img.employer-logo(src='/media/home/portfolio/employers/google.png', title='Google', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.coca-cola.com/global/')
						img.employer-logo(src='/media/home/portfolio/employers/cococola.png', title='Coco-Cola', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.northamerica-daikin.com')
						img.employer-logo(src='/media/home/portfolio/employers/daikin.png', title='Daikin', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.alcoa.com/global/en/home.asp')
						img.employer-logo(src='/media/home/portfolio/employers/alcoa.png', title='Alcoa', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.amazon.com')
						img.employer-logo(src='/media/home/portfolio/employers/amazon.png', title='Amazon', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://amwater.com')
						img.employer-logo(src='/media/home/portfolio/employers/americanwater.png', title='American Water', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.ibm.com;')
						img.employer-logo(src='/media/home/portfolio/employers/ibm.png', title='IBM', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='www.northropgrumman.com')
						img.employer-logo(src='/media/home/portfolio/employers/northtopgrumman.png', title='Northtop Grumman', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='www.tata.com')
						img.employer-logo(src='/media/home/portfolio/employers/tata.png', title='Tata', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.3ds.com')
						img.employer-logo(src='/media/home/portfolio/employers/dassaultsystemes.png', title='Dassault Systems', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.jasmineuniverse.com')
						img.employer-logo(src='/media/home/portfolio/employers/jasmine.jpg', title='Jasmine Universe', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.spacex.com')
						img.employer-logo(src='/media/home/portfolio/employers/spacex.png', title='SpaceX', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.gd.com')
						img.employer-logo(src='/media/home/portfolio/employers/generaldynamics.png', title='General Dynamics', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='http://www.harris.com')
						img.employer-logo(src='/media/home/portfolio/employers/harris.jpg', title='Harris', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.hbo.com')
						img.employer-logo(src='/media/home/portfolio/employers/hbo.png', title='HBO', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.deere.com/en/index.html')
						img.employer-logo(src='/media/home/portfolio/employers/johndeere.png', title='John Deere', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.leviton.com')
						img.employer-logo(src='/media/home/portfolio/employers/leviton.png', title='Leviton', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.liro.com')
						img.employer-logo(src='/media/home/portfolio/employers/lirogroup.png', title='Liro Group', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.naturesbountyco.com/')
						img.employer-logo(src='/media/home/portfolio/employers/nbty.png', title="Nature's Bounty Co.", width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.wsp.com/en-US')
						img.employer-logo(src='/media/home/portfolio/employers/parsonsbrickernoff.png', title='Parsons Brinckerhoff', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.raytheon.com/')
						img.employer-logo(src='/media/home/portfolio/employers/raytheon.png', title='Raytheon', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.utcaerospacesystems.com/')
						img.employer-logo(src='/media/home/portfolio/employers/eaton.png', title='Eaton Corporation', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.eaton.com/us/en-us.html')
						img.employer-logo(src='/media/home/portfolio/employers/utcaerospacesystems.png', title='UTC Aerospace Systems', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.cognizant.com/')
						img.employer-logo(src='/media/home/portfolio/employers/cognizant.png', title='Cognizant', width='100%')
					div(class="col-md-2 col-xs-6" style="height: 140px;")
						a(href='https://www.fluor.com')
						img.employer-logo(src='/media/home/portfolio/employers/fluor.png', title='Fluor', width='100%')
			#oncampus
				.row
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/aiche.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/motorsportslogo.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/solar.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/sbcs.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/bmes.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/casb.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/ieee.gif', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/sbrt.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/innovation.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/sase.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/puso.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/vsa.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/nspe.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/swe_logo.png', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/shpe.jpg', title='General Electric', width='100%')
					div(class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2" style="height: 115px;")
						a(href='http://www.accenture.com')
						img.employer-logo(src='/media/logos/oncampus/asce.png', title='General Electric', width='100%')

				
