extends layout

block content
	div(class="parallax-container" id="index-banner")
		div(class="section no-pad-bot")
			div(class="container")
				h1(class="header center white-text ") <br> <br> THETA TAU
				h5(class="header center col s12 light") <br> Engineering Leaders for Service, Profession, and Brotherhood<br>
		div(class="parallax")
			img(alt="Unsplashed background img 1" src="/media/home/IMG_6760.jpg" style="display: block; transform: translate3d(-50%, 357px, 0px);" id="homebg")
					
	div(class="bg-light text-dark" id='who-are-we')
		div(class='container')
			div(class='row mx-auto')
				div(class="nine columns  pt2 pb2")
					h6(class='category') Who are we?
					h1(id='pitch') We are the only coed professional engineering fraternity at Stony Brook University.
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			div(class="row mx-auto")
				h5(class="light") At over 35,000 members, Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. <br><br>
					div(class='row')
						p Our purpose is to develop and maintain a high standard of professional interest among our members, and to unite them in a strong bond of fraternal fellowship. Our members are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and Proud of our Community of Engineers. <br><br>
							As a professional engineering fraternity, we combine aspects found in that of social fraternities and technical-oriented societies to create a community where brothers can form life-long bonds, develop themselves professionally, and have meaningful social experiences.
						p For more information,   
						a(href="http://thetatau.org/" class="light") visit our national website



	div(class="parallax-container valign-wrapper")
		div(class="section no-pad-bot")
			div(class="container")
				div(class="row center")
					h5(class="header col s12 light") We develop and maintain professional interest and fraternal fellowship.
		div(class="parallax")
			img(alt="Unsplashed background img 2" src="/media/home/IMG_1713.jpg" style="display: block; transform: translate3d(-50%, 94px, 0px);")
					
						