/*texts*/
#who-are-we p, a{
  font-size: 0.7em;
  margin-left: 0.6em;
  margin-top: -1em;
}

#who-are-we h5{
  font-size:1.5em;
}

#homebg {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
    

